<!-- would like to center the text in the row  -->
<div class="row" style="background-color: lightblue;color: black;">
   <div class="column"><h1>You are viewing <%= @item.name %></h1></div>
</div>
<div class="ui divider"></div>
<div class="ui centered grid">
  <div class="sixteen wide mobile eight wide tablet four wide computer column">
    <div class="ui centered yellow card">
      <div class="image">
        <img src="https://robohash.org/<%= @item.photo %>?set=4" />
      </div>
        <div class="content">
          <a class="header center aligned">
            $<%= @item.price %>
          </a>
        </div>
          <div class="description">
            <p class="center aligned">Adopt me today!</p>
          </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui green button">
                <i class="add to cart icon"></i>
                <%= link_to 'Add', cart_path%>
                </div>
                <div class="or"></div>
                <div class="ui button">
                <%= link_to 'Back', items_path %>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
