<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <div class="ui top menu">
      <% unless user_signed_in? %>
      <% else %>  
         <%= link_to "Home", root_path, class: "active blue item" %>
        <%= link_to 'View Cart', cart_path(current_user), class:'item'%>
        <%= link_to 'View Account', user_path(current_user), class: 'item' %>
      <% end %>  
      <div class="right menu">
        <% unless user_signed_in? %>
          <%= link_to new_user_registration_path, class: "item" do%>
          <i class="signup icon blue"></i> Sign Up
          <% end %>
          <%= link_to new_user_session_path, class: "item" do %>
          <i class="sign in icon teal"></i> Login
          <% end %>
        <% else %>
          <%= link_to destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"}, class: "item" do %>
          <i class="sign out icon red"></i> Logout
        <% end %>

        <% end %>
      </div>
    </div>

     <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      
    <%= yield %>
  
  </body>
</html>




        

